* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(Images/Super_Mario_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 75%;
}


@font-face {
    font-family: gametex;
    src: url(Fonts/Gamtex.woff);
    font-weight: normal;
    font-style: normal;
}

/* LAYOUT */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    min-width: 180px;
    border: 2px solid red;
    margin: .5em 0 .5em 0;

}

.header-logo {

}

.mario-logo {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .25em;
}


.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 2px solid red; 
}

.game-info {
    height: 70px;
    width: 500px;
    border: 2px solid red; 
}

.back-image {
    width: 100%;
}

.card-front {
    display: none;
}

.card-back {
    width: calc(100% / 4);
    height: calc(100% / 4);
    padding: 4px;
}



/* FONTS */

h1 {
    font-size: clamp(1rem, 2vw, 4rem);
    font-family: gametex;
    font-weight: lighter;
    text-align: center;
}