* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(images/Super_Mario_Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 75%;
}

/*START SCREEN*/

#start-screen {
  display: flex;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

#start-screen::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url(images/super-mario-maker-on-yellow-background-ybfs33k1xhwgdrtm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#start-game {
  z-index: 1;
}

#game-area {
  width: 100%;
  height: 100vh;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  padding: .25em;
  border-radius: 7.5px;
  perspective: 1000px;
  border: 2px solid black;
}

.game-cards {
  position: relative;
  width: calc(25% - .5em);
  height: calc(25% - .5em);
  margin: .25em;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.game-cards:active {
  transform: scale(.97);
  transition: transform .2s;
}

.game-cards.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: .25em;
  border-radius: 5px;
  background-color: white;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
  border: 2px solid black;
}

.back-face {
  padding: 0;
}

#win-screen {
  display: none;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: white;
  margin-top: 50px;
}

#lose-screen {
  display: none;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: white;
  margin-top: 50px;
}